{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}
<div class="col-md-12 mt-2">
    <div class="card">
    <h4 class="card-header">Face Detection With YoloV5</h4>
    <div class="card-body">
        <h5 class="card-title">Features of the WebApp:</h5>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Create imagesets & upload multiple images: 
                <a href="{% url 'images:imageset_create_url' %}" class="btn btn-sm btn-outline-success" type="button">Create Imageset</a>
                <a href="{% url 'images:imageset_list_url' %}" class="btn btn-sm btn-outline-success" type="button">My ImageSets List</a>
            </li>
            </li>
        </ul>
       
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Create videosets & upload videos: 
                <a href="{% url 'videos:videoset_create_url' %}" class="btn btn-sm btn-outline-success" type="button">Create Videoset</a>
                <a href="{% url 'videos:videoset_list_url' %}" class="btn btn-sm btn-outline-success" type="button">My VideoSets List</a>
            </li>
            </li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Webcam: 
                <a href="{% url 'webcam:stream' %}" class="btn btn-sm btn-outline-success" type="button">Open Webcam</a>  
            </li>
            </li>
        </ul>
        
    </div>
    </div>
</div>  
{% endblock content %}